/CMakeFiles/
/.cproject
/.project
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/Urho3D.log
/.bash_helpers.sh
/cmake_android.sh
/cmake_clean.sh
/cmake_codeblocks.sh
/cmake_eclipse.sh
/cmake_emscripten.sh
/cmake_generic.sh
/cmake_ios.sh
/cmake_macosx.sh
/cmake_mingw.sh
/cmake_ninja.sh
/cmake_rpi.sh
/core
/CTestTestfile.cmake
/Rakefile
/oprofile_data/
/CMake/
/.ninja_deps
/.ninja_log
/build.ninja
/UrFelt.cbp
/rules.ninja
/perf.data
/compile_commands.json
/.project.bak
/GPATH
/GRTAGS
/GTAGS
/tagbardebug.log
/tagbardebug.log.ctags_out
/.compile-flags
/.session.vim
/.ycm_extra_conf.py.old
/**/*.swp
/.idea/
/.settings/
