[submodule "vendor/LuaCppMsg"]
	path = vendor/LuaCppMsg
	url = https://github.com/feltech/LuaCppMsg.git
[submodule "vendor/msm-lite"]
	path = vendor/msm-lite
	url = https://github.com/boost-experimental/msm-lite.git
[submodule "vendor/Felt"]
	path = vendor/Felt
	url = https://github.com/feltech/Felt.git
[submodule "vendor/Urho3D"]
	path = vendor/Urho3D
	url = https://github.com/urho3d/Urho3D.git
[submodule "vendor/sml"]
	path = vendor/sml
	url = https://github.com/boost-experimental/sml.git
[submodule "vendor/CImg"]
	path = vendor/CImg
	url = https://github.com/dtschump/CImg.git
	branch = master
[submodule "vendor/zstr"]
	path = vendor/zstr
	url = https://github.com/mateidavid/zstr.git
[submodule "bin/Data/Scripts/lib/feltest"]
	path = bin/Data/Scripts/lib/feltest
	url = https://github.com/feltech/feltest.git
